Flask==1.0.2
requests==2.18.4
dialogflow==0.4.0
python-dotenv==0.8.2
pusher==2.0.1


client ID: '530610606122-bi2u56td153gdknh2evpm0804ni7e4kh.apps.googleusercontent.com'
client secret: 'zRN_LwTFCVsbJP8lWB1Mhyvc'